/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* REGOLE GENERALI */
body{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
header{
    width: 100%;
    background-color: #0084fd;
    height: 100px;
}
.container{
    width: 70%;
    margin: 0 auto;
    background-color: aqua;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section{
    margin: 40px 0;
}
/* HEADER */
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}nav ul li a{
    text-decoration: none;
    color: white;
}
.started{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 15px;
}
.menu-icon{
    display: none;
}
.menu-icon > a > i{
    color: white;
}
/* MAIN */
/* JUMBOTRONE */
#jumbotrone{
    display: flex;
    align-items: center;
}
.cards, .card{
    min-height: 100px;
    background-color: chocolate;
    border: 1px solid black;
    margin: 20px 0;
}
.cards{
    width: 66.5%;
}
.card{
    width: 33%;
}
#jumbotrone > .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* STRATEGIC */
#strategic{
    background-color: #9792e4;
}
#strategic > .container{
    padding: 0 5%;
    height: 300px;
}
.box1, .box2{
    width: 50%;
    background-color: chocolate;
    border:  1px solid black;
}
.box2{
    height: 60%;
    align-self: flex-end;
}
.box1{
    height: 100%;
}
/* TESTIMONIALS */
#testimonials > .container{
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    height: 400px;
}
.collab{
    background-color:#9792e4 ;
    width: 100%;
    height: 33%;
    border: 1px solid black;
    display: flex;
    margin-top: 20px;
}
.photo , .description{
    border: 1px solid black;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    width: 70%;
}
.photo{
    width: 30%;
}
/* BENEFITS */
#benefits{
    background-color: #9792e4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#benefits > .container{
    flex-wrap: wrap;
}
.benefit{
    width: 33%;
    height: 80px;
    background-color: chocolate;
    border: 1px solid black;
    margin-top: 20px;
}
/* ABOUT US */
#about-us > .container{
display: flex;
}
.us, .photo-us{
    background-color: chocolate;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.us{
    width: 70%;
}
.photo-us{
    width: 30%;
    height: 50px;
}
/* FOOTER */